<md-dialog aria-label="Settings dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Settings</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <md-icon md-svg-icon="content:clear" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-settings">
      <form name="settingsForm">
        <md-input-container>
          <label>System Name</label>
          <input ng-maxlength="20" required ng-model="settings.systemname" name="systemname" />
          <div ng-messages="settingsForm.systemname.$error">
            <div ng-message="required">This cannot be blank.</div>
            <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
          </div>
        </md-input-container>
      </form>
    </div>
<!--
    <h2 class="md-title">
      Set a description for the new thing
    </h2>

    <form name="projectForm">
      <md-input-container>
        <label>Description</label>
        <input md-maxlength="30" required name="description" ng-model="newThing">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content> -->
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-primary">
      Cancel
    </md-button>
    <md-button ng-click="addThing()" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>
