.downloads-page {
  .stats span {
    margin: .25em;
  }

  .download-item {
    .title-container {
      overflow: scroll;      
    }
    .title {
      font-weight: bold;
    }
    .stalled {
      color: yellow;
    }
  }
}
