<div ng-include="'components/shell/shell.html'"></div>

<div class="page downloads-page" layout-align="center center" layout>

  <div class="downloads-container md-whiteframe-z1" flex-gt-sm="80" flex>

    <md-toolbar class="md-whiteframe-z1 rounded-toolbar">
      <h2 class="md-toolbar-tools">Downloads</h2>
    </md-toolbar>

    <md-content>
      <section ng-repeat="(isFinished, entries) in getDownloads() | groupBy: 'isFinished' | reverse" class="md-padding">
        <h4>
          <span ng-if="!isFinished">Active [{{ entries.length }}]</span>
          <span ng-if="!!isFinished">Completed [{{ entries.length }}]</span>
        </h4>

        <md-card ng-repeat="item in entries" layout="column" class="download-item md-whiteframe-z2">
          <md-content layout="row">
            <div class="md-padding" layout="column" layout-align="center center">
              <kp-filetype-icon media-type="{{ item.mediaType }}"></kp-filetype-icon>
            </div>
            <md-divider></md-divider>
            <div class="md-padding" layout="column" layout-align="center start" flex>
              <h4>{{ item.name }}</h4>
              <span class="md-subtitle">{{ item.totalSize | humanizeFilesize }}</span>
            </div>
            <div class="stats" layout="column" layout-align="center start" class="md-padding" flex="20">
              <span>{{ item.percentDone * 100 | number:2 }}%</span>
              <span ng-if="item.isFinished == false">{{ item.eta | humanizeInt }} seconds</span>
              <span ng-if="item.isFinished == false">{{ item.rateDownload | humanizeFilesize }}/s</span>
            </div>
            <md-divider></md-divider>
            <div class="md-padding actions" layout="column">
              <md-button class="md-small">
                <md-tooltip>Remove entry</md-tooltip>
                <md-icon md-svg-src="navigation:close" class="md-warn"></md-icon>
              </md-button>
              <md-button class="md-small">
                <md-tooltip>View in plex</md-tooltip>
                <md-icon md-svg-src="action:pageview"></md-icon>
              </md-button>
            </div>
          </md-content>
          <md-progress-linear md-mode="determinate" value="{{ item.percentDone * 100 | number:2 }}"></md-progress-linear>
        </md-card>
      </section>

    </md-content>


  </div>
</div>
