.downloads-page {
  .stats span {
    margin: .25em;
  }

  .download-item {
    .title-container {
      overflow: hidden;
    }
    .title {
      font-weight: bold;
    }
    .stalled {
      color: yellow;
    }

    .actions button {
      margin: 0px;
    }
  }
}
