<div ng-include="'components/shell/shell.html'"></div>

<div class="page downloads-page" layout-align="center center" layout>

  <div class="downloads-container md-whiteframe-z1" flex-gt-sm="80" flex>

    <md-toolbar class="md-whiteframe-z1 rounded-toolbar">
      <h2 class="md-toolbar-tools"><b>Downloads</b></h2>
    </md-toolbar>

    <md-content>
      <section class="md-padding">

        <div ng-hide="getDownloads().length" layout="column" layout-align="center center" class="md-padding">
          No recent downloads
        </div>

        <div ng-repeat="entry in getDownloads() | orderBy: ['isFinished','-startDate'] track by entry.hashString"
             ng-show="getDownloads()">
          <span flex-gt-sm></span>

          <md-card layout="column" class="download-item md-whiteframe-z2">
            <md-content layout="row">
              <div class="md-padding" layout="column" layout-align="center center">
                <kp-filetype-icon media-type="{{ entry.mediaType }}"></kp-filetype-icon>
              </div>
              <md-divider></md-divider>

              <div layout="column" layout-gt-xs="row" flex>
                <div class="title-container md-padding" layout="column" layout-align="center start" flex="70">
                  <span class="title">{{ entry.name }}</span>
                  <span class="md-subhead">{{ entry.totalSize | humanizeFilesize }}</span>
                </div>
                <div class="stats" layout="column" layout-align="center start" class="md-padding" flex="10">
                  <span>{{ entry.percentDone * 100 | number:2 }}%</span>
                  <span ng-if="entry.isFinished == false">{{ entry.eta | amDurationFormat: 'seconds' }}</span>
                  <span ng-if="entry.isFinished == false">{{ entry.rateDownload | humanizeFilesize }}/s</span>
                  <span ng-show="entry.isStalled" class="stalled">Stalled</span>
                </div>
              </div>

              <md-divider></md-divider>
              <div class="actions" layout="column">
                <md-button class="md-small" ng-click="remove(entry)">
                  <md-tooltip>Stop and Remove download</md-tooltip>
                  <md-icon md-svg-src="navigation:close"></md-icon>
                </md-button>
                <md-button class="md-small" ng-click="delete(entry)">
                  <md-tooltip>Delete file from device</md-tooltip>
                  <md-icon md-svg-src="action:delete" class="md-warn"></md-icon>
                </md-button>
                <md-button class="md-small">
                  <md-tooltip>View in plex</md-tooltip>
                  <md-icon md-svg-src="action:pageview"></md-icon>
                </md-button>
              </div>
            </md-content>
            <md-progress-linear md-mode="determinate" value="{{ entry.percentDone * 100 | number:2 }}"></md-progress-linear>
          </md-card>

          <span flex-gt-sm></span>
        </div>

      </section>

    </md-content>


  </div>
</div>
