.downloads-page {
  .stats span {
    margin: .25em;
  }

  .md-subheader {
    background-color: rgba(0,0,0,0.0);
  }

  .download-item {
    .title-container {
      overflow: hidden;
    }
    .title {
      font-weight: bold;
    }
    .stalled {
      color: yellow;
    }

    .actions button {
      margin: 0px;
    }

    .stats .md-subheader-inner {
      padding: 0.5em;
    }

    .stats div {
      margin: 0.25em;
    }
  }
}
