<div ng-controller="ShellCtrl" class="main-shell">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 class="title">
        <a ng-href="/">kapture</a>
      </h1>

      <span flex-offset-xs="20" flex-offset-gt-xs="5"></span>

      <md-button class="md-raised" ng-href="/watch">Watch</md-button>
      <md-button class="md-raised" ng-href="/get">Get</md-button>

      <span flex-gt-xs></span>

      <md-button ng-click="showSettingsPane($event)">
        <md-icon md-menu-origin md-svg-icon="action:settings"></md-icon>
        <span hide show-gt-sm>Settings</span>
      </md-button>

    </div>
  </md-toolbar>
</div>
