<div ng-controller="ShellCtrl" class="main-shell">
  <!-- <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent">

    </md-toolbar>
    <md-content layout-padding>

    </md-content>
  </md-sidenav> -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button> -->
      <h1 class="title">
        <a ng-href="/">kapture</a>
      </h1>

      <span flex-offset="5"></span>

      <md-button class="md-raised" ng-href="/watch">Watch</md-button>
      <span flex-offset="2"></span>
      <md-button class="md-raised" ng-href="/get">Get</md-button>

      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-button ng-click="showSettingsPane($event)">
            <md-icon md-menu-origin md-svg-icon="action:settings"></md-icon>
            Settings
          </md-button>
        </md-menu-content>
        <!-- <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="showAddDialog($event)">
              <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
              Add
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="redial($event)">
              <md-icon md-svg-icon="communication:dialpad" md-menu-align-target></md-icon>
              Redial
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button disabled="disabled" ng-click="checkVoicemail()">
              <md-icon md-svg-icon="communication:voicemail"></md-icon>
              Check voicemail
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="toggleNotifications()">
              <md-icon md-svg-icon="social:notifications{{notificationsEnabled ? '_off' : ''}}"></md-icon>
              {{notificationsEnabled ? 'Disable' : 'Enable' }} notifications
            </md-button>
          </md-menu-item>
        </md-menu-content> -->
      </md-menu>
    </div>
  </md-toolbar>
</div>
