<div ng-controller="ShellCtrl" class="main-shell md-whiteframe-z2">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-accent md-mini" ng-click="toggleMenu()" aria-label="menu button">
        <md-icon class="menu-button-icon" md-svg-src="navigation:menu"></md-icon>
      </md-button>
      <h1 class="title">
        <a ng-href="/">kapture</a>
      </h1>

      <span flex></span>

      <span hide show-gt-sm><b>Add URL</b></span>
      <md-fab-speed-dial>
        <md-fab-trigger>
          <md-button aria-label="add new" class="md-fab md-accent md-mini" ng-click="showAddUrlDialog($event)">
            <md-icon md-menu-align-target md-svg-src="content:add"></md-icon>
          </md-button>
        </md-fab-trigger>
      </md-fab-speed-dial>
    </div>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 menu-sidenav" md-component-id="menu">
    <md-toolbar class="menu-title md-whiteframe-z2" layout="row" ng-click="toggleMenu()">
      <h2 class="md-padding">Menu</h2>
    </md-toolbar>
    <md-content class="menu-items" layout="column">
      <md-list>
        <md-list-item ng-repeat="item in menuItems" flex>
          <md-button ng-class="{'activePage':isActive(item.href)}" ng-href="{{ item.href }}" ng-click="toggleMenu()" style="width:100%;" layout="row" layout-align="start center">
            <md-icon class="icon" ng-if="!!item.icon" md-svg-src="{{ item.icon }}"></md-icon>
            <span><h3 class="link-title">{{ item.title }}</h3></span>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
</div>
