---
# tasks file for roles/kapture


#######################
### System STUFF
#######################

- name: set hostname
  hostname: name="{{ systemname }}"
  register: hostname_task

- name: trigger restart handler if needed
  command: /bin/true # noop
  when: hostname_task.changed and pi is defined and pi
  notify: restart device

- name: ensure kapture group is setup correctly
  group: name=kapture system=yes state=present

- name: ensure {{ kapture_user }} user is setup correctly
  user:
    groups: sudo,kapture
    name: "{{ kapture_user }}"
    createhome: yes
    home: /var/lib/kapture
    state: present

- name: ensure ubuntu user is in kapture group
  user: name=ubuntu groups=kapture,sudo
  when: pi is defined and pi

- name: ensure vagrant user is in kapture group
  user: name=vagrant groups=kapture,sudo
  when: vagrant is defined and vagrant

- name: ensure users are in kapture group
  user:
    name: "{{ item }}"
    groups: kapture
    state: present
  with_items:
    - plex
    - debian-transmission

- name: ensure kapture user is created and in right groups
  user:
    groups: sudo,kapture
    name: "{{ kapture_user }}"
    state: present

- name: ensure nobody user is in kapture group
  user:
    name: nobody
    groups: kapture,nogroup
    state: present
  notify: restart netatalk

- name: set permissions on home directory
  file:
    recurse: yes
    path: /var/lib/kapture
    mode: 0775
    group: kapture

- name: install pip from apt-get if not Raspbian
  apt: pkg=python-pip state=present
  when: ansible_lsb.id != "Raspbian"

- name: install pip using easy_install if Raspbian
  easy_install: name=pip state=present
  when: ansible_lsb.id == "Raspbian"

- name: install ansible for running locally
  pip: name=ansible



######################
## KAPTURE APP
######################

- name: get kapture repo key
  apt_key:
    url: https://kapture-apt.s3.amazonaws.com/kapture-apt-s3.gpg
    state: present

- name: add kapture repo
  apt_repository:
    repo: deb https://kapture-apt.s3.amazonaws.com stable main
    update_cache: yes

- name: install kapture
  apt:
    name: kapture
    state: latest
