/**
 * App-wide Styles
 */
 .page {
   margin-top: 1em;

   .rounded-toolbar {
     border-radius: 3px 3px 0 0;
   }
 }


body,html {
  background-color: #eee;
}

// Component styles are injected through grunt
// injector
@import 'autokapture/autokapture.scss';
@import 'downloads/downloads.scss';
@import 'get/get.scss';
@import 'main/main.scss';
@import 'settings/settings.scss';
@import 'watch/watch.scss';
@import 'shell/shell.scss';
// endinjector
