.main-page {


  .getting-started-markdown {
    // This stuff is primarily for the temporary getting started page

    md > table,td,th {
      border: solid 2px #ccc;
      border-collapse: collapse;
      padding: .5em;
    }

    blockquote {
      padding: 0 15px;
      color: #777;
      border-left: 4px solid #ddd;
    }

    h1 {
      padding-bottom: 0.3em;
      font-size: 2.25em;
      line-height: 1.2;
      border-bottom: 1px solid #eee;
    }

    h2 {
      padding-bottom: 0.3em;
      font-size: 1.75em;
      line-height: 1.225;
      border-bottom: 1px solid #eee;
    }
  }
}
