.get-page {
  // .media-iframe {
  //   border: 0px;
  // }

  .get-container {
    margin-top: 1em;
  }

  .rounded-toolbar {
    border-radius: 3px 3px 0 0;
  }

  .delete-source {
    color: red;
  }
}
