<div ng-include="'components/shell/shell.html'"></div>

<div class="page autokapture-page" layout-align="center center" layout>

    <div class="autokapture-container md-whiteframe-z1" flex-gt-sm="80" flex>

        <md-toolbar class="md-whiteframe-z1 rounded-toolbar">
          <h2 class="md-toolbar-tools">AutoKaptured series</h2>
        </md-toolbar>

        <md-content class="md-padding download-series-table">
          <md-list class="download-series" layout="column">
            <md-list-item class="md-2-line" ng-repeat="series in getEnabledSeries()" flex>
              <div class="md-padding series-entry" layout="column" flex>
                <div class="series-header" layout="row" flex>

                  <div layout-align="center center">
                    <i class="md-padding fa fa-rss fa-2x"></i>
                  </div>

                  <div class="md-list-item-text" layout="column" layout-align="start">
                    <span class="series-name">{{ series.title }}</span>
                  </div>

                  <div layout="row" layout-align="center center">
                    <md-button class="md-small" ng-click="selectSeries($index, series)">
                      <md-tooltip md-direction="bottom">Show recent ..</md-tooltip>
                      <md-icon md-svg-src="image:remove_red_eye"></md-icon>
                    </md-button>
                    <md-button class="md-small" aria-label="Delete series {{ series.title }}" ng-click="deleteSeries( series )">
                      <md-tooltip md-direction="bottom">Delete this series permanently</md-tooltip>
                      <md-icon md-svg-src="action:delete" class="delete-series"></md-icon>
                    </md-button>
                  </div>
                </div>

                <md-content class="series-items" ng-show="$index==selectedSeriesIndex" layout-fill>
                  <md-subheader>Recept episodes</md-subheader>
                  <md-list class="series-ep-list md-2-line">
                    <md-list-item ng-repeat="ep in selectedSeriesEpisodes" class="md-padding" layout="row">
                      <div>
                        <md-icon md-svg-src="av:videocam"></md-icon>
                      </div>
                      <div class="series-item-text md-padding" layout="column">
                          <b>{{ ep.title }}</b>
                          <time am-time-ago="{{ parseDate(ep.uploaded) }}"></time>
                      </div>
                      <md-divider></md-divider>

                    </md-list-item>
                  </md-list>
                </md-content>
              </div>

              <md-divider ng-if="!$last"></md-divider>

            </md-list-item>
          </md-content>
        </md-list>
    </div>

</div>
