.autokapture-page {
  .delete-series {
    color: red;
  }

  .series-item-list {
    background-color: #f5f5f5;
  }

  .series-items {
    height: 15em;
  }

  .md-button.md-small {
    min-width: 1%;
  }

  .checkbox md-checkbox {
    margin-bottom: 0px;
  }
}
