<div ng-include="'components/shell/shell.html'"></div>

<div class="page autokapture-page" layout-align="center center" layout>

    <div class="autokapture-container md-whiteframe-z1" flex-gt-sm="80" flex>

        <md-toolbar class="md-whiteframe-z1 rounded-toolbar">
          <h2 class="md-toolbar-tools">AutoKaptured series</h2>
        </md-toolbar>

        <md-content class="md-padding download-sources-table">
          <md-list class="download-source" >
            <md-list-item class="md-2-line" ng-repeat="source in getCurrentSeries()" layout="column">
              <div class="source-header" layout-fill layout="row">

                <div class="checkbox">
                  <md-checkbox ng-selected="source.selected"></md-checkbox>
                </div>

                <div layout-align="center center">
                  <i class="md-padding fa fa-rss fa-2x"></i>
                </div>

                <div class="md-list-item-text" layout="column" layout-fill layout-align="start">
                  <h3 class="source-name">{{ source.title }}</h3>
                  <p class="source-url">{{ source.title }}</p>
                </div>

                <div layout="row" layout-align="center center">
                  <md-button class="md-small" ng-click="selectSourceItem($index, item)">
                    <md-tooltip md-direction="bottom">Show upcoming..</md-tooltip>
                    <md-icon md-svg-src="image:remove_red_eye"></md-icon>
                  </md-button>
                  <md-button class="md-small" aria-label="Delete source {{ source.name }}" ng-click="deleteSource( source )">
                    <md-tooltip md-direction="bottom">Delete this source permanently</md-tooltip>
                    <md-icon md-svg-src="action:delete" class="delete-source"></md-icon>
                  </md-button>
                </div>
              </div>
              <md-content class="source-items" ng-show="$index==selectedSourceIndex" layout-fill>
                <md-subheader>Media from this source</md-subheader>
                <md-list class="source-item-list md-2-line">
                  <md-list-item ng-repeat="entry in getSeriesUpcomingEpisodes(source.showRssId)" class="md-padding" layout="row">
                    <div>
                      <md-icon md-svg-src="av:videocam"></md-icon>
                    </div>
                    <div class="source-item-text md-padding" layout="column">
                        <b>{{ item.title[0] }}</b>
                        <time am-time-ago="{{ parseDate(item.pubDate[0]) }}"></time>
                    </div>
                    <md-divider></md-divider>

                  </md-list-item>
                </md-list>
              </md-content>

              <md-divider ng-if="!$last"></md-divider>

            </md-list-item>
          </md-content>
        </md-list>
    </div>

</div>
