<div ng-include="'components/shell/shell.html'"></div>

<div class="page settings-page" layout layout-align="center center">

  <div class="settings-container md-whiteframe-z1" flex-gt-sm="80" flex>

    <md-toolbar class="md-whiteframe-z1 rounded-toolbar">
      <div class="md-toolbar-tools">
        <h2>Settings</h2>
      </div>
    </md-toolbar>

    <md-content class="md-padding">
      <form name="settingsForm" ng-submit="submitSettings()">
        <span style="margin: 2em"></span>
        <div class="disabled" layout="column">
          <md-input-container flex>
            <label>System Name</label>
            <input ng-maxlength="20" required ng-model="settings.systemname" name="systemname" />
            <span class="notification" ng-if="settingsForm.systemname.$dirty">
              Since you are changed the system name, you will need to go to the new URL: <a href="http://{{settings.systemname}}.local/">http://{{settings.systemname}}.local</a> after saving, and going forward.
            </span>
            <div ng-messages="settingsForm.systemname.$error">
              <div ng-message="required">This cannot be blank.</div>
              <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Your email address</label>
            <input ng-maxlength="300" type="email" ng-model="settings.email" name="email" />
            <div ng-messages="settingsForm.email.$error">
              <div ng-message="email">Invalid email.</div>
              <div ng-message="md-maxlength">The name has to be less than 300 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Time in minutes to check for content updates</label>
            <input type="number" required min="1" max="60" ng-model="settings.flexget_check_frequency" name="flexget_check_frequency" />
            <div ng-messages="settingsForm.flexget_check_frequency.$error">
              <div ng-message="min">Frequency needs to be more than 1 minute.</div>
              <div ng-message="max">Frequency needs to be less than 60 minutes.</div>
            </div>
          </md-input-container>
        </div>

        <div layout="column" layout-align="center center">
          <md-button  type="submit"
                      ng-disabled="settingsForm.$invalid || applyingSettings"
                      name="submitButton"
                      layout="column"
                      layout-align="center center"
                      class="md-raised md-primary">
            <span ng-hide="applyingSettings">Save</span>
            <md-progress-circular md-mode="indeterminate" ng-show="applyingSettings" />
          </md-button>
          <span class="applying-settings-text" ng-show="applyingSettings">
            Applying settings to system, please wait..
          </span>
        </div>
      </form>
    </md-content>
  </div>

</div>
