.settings-page {
    .applying-settings-text {
      font-size: 1em;
      font-weight: bolder;
    }

    .notification {
      color: DarkOrange;
    }

    .sources {
      padding-top: 1em;
      padding-left: 1em;
    }

    .md-active .tab-heading {
      color: white;
    }

    md-switch {
      margin-top: 30px;
    }
}
