<div style="min-height: 561px;">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">AutoKaptured series</h1>

				<div class="lead">
					Series listed here will be automatically downloaded when new episodes come out
				</div>

				<div ng-show="isLoading">Loading..</div>

				<div ng-show="!isLoading && series.length === 0">
					<div class="alert alert-info">You currently don't have any auto-kaptured series, find them by searching for media above</div>
				</div>

				<div class="panel-body" ng-show="!isLoading">
					<uib-accordion close-others="true">
						<div uib-accordion-group class="panel-default" ng-repeat="item in series" is-open="accordionState[$index]">
							<div uib-accordion-heading>
									<media-icon type="{{ item.mediaType }}"></media-icon>
									<span class="title">{{ item.title }}</span>
									<div class="actions pull-right">
										<button class="btn btn-xs btn-default" tooltip-placement="bottom" uib-tooltip="Show upcoming and recent episodes">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</button>									
										<button ng-click="delete( item )" class="btn btn-xs btn-danger" tooltip-placement="bottom" uib-tooltip="Stop autokapturing this series">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</button>									
									</div>
							</div>
							<div class="row content series-results">
								<div class="col-lg-6 col-xs-12">
									<h4>Recent episodes</h4>
									<div ng-show="item.recent !== undefined">
										<ul>
											<li ng-repeat="rep in item.recent">
												<h5 class="title">{{ rep.title }}<br/>
													<i class="fa fa-clock-o"></i>
													<small><time am-time-ago="{{ parseDate(rep.uploaded) }}"></time></small>
												</h5>
											</li>
										</ul>
									</div>
									<i class="fa fa-spinner fa-spin fa-2x" ng-show="item.recent === undefined"></i>										
								</div>
								<div class="col-lg-6 col-xs-12">
									<h4>Upcoming episodes</h4>
									<div ng-show="item.upcoming !== undefined">
										<ul>
											<li ng-repeat="uep in item.upcoming">{{ uep.title }}</li>
										</ul>
									</div>
									<div class="alert alert-warning">
										This feature not yet implemented
									</div>
									<!--<i class="fa fa-spinner fa-spin fa-2x" ng-show="item.upcoming === undefined"></i>										-->
								</div>
							</div>
						</div>
					</uib-accordion>
				</div>

			</div>

		</div>
	</div>

</div>
